@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
html, body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  height: 2000px; }

header, footer, nav {
  display: block; }

div, a, ul, li, header, footer, nav, section {
  box-sizing: border-box; }

h2, p {
  margin: 0;
  padding: 30px 0; }

a {
  cursor: pointer; }

.cols::after, .header::after {
  content: '';
  display: table;
  clear: both; }

.cols, .header .menu, .header .menu .submenu {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.cols > li {
  float: left; }

.content {
  margin: 0 auto; }

.narrow .content {
  width: 700px; }

.article {
  color: white; }

.cols {
  margin: 0 -2%; }
  .cols.inset {
    margin: 0 2%; }
  .cols .col {
    float: left;
    margin: 0 2%; }
    .cols .col img {
      max-width: 100%; }
  .cols .col.half {
    width: 46%; }
  .cols .col.third {
    width: 29.3%; }
  .cols .col.two-thirds {
    width: 62.6%; }
  .cols .col.quarter {
    width: 21%; }
  .cols .col.five-twelfth {
    width: 37.6%; }

html, body {
  font-family: 'Roboto';
  font-size: 16px;
  background-color: #0b0b0b;
  min-height: 100%; }

h2 {
  text-align: center;
  font-weight: 100;
  font-size: 36px; }

a.reference {
  font-size: 12px;
  vertical-align: super;
  padding: 0px 0px; }

.article p, .article li {
  text-align: justify; }

.figure .caption {
  padding: 3px 0;
  font-size: 14px;
  text-align: center; }

.header {
  background-color: #0b0b0b;
  display: block;
  height: 60px;
  color: white;
  width: 100%;
  position: relative;
  z-index: 200; }
  .header .logo {
    display: block;
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    text-decoration: none;
    border-radius: 100%;
    background-color: #0b0b0b;
    padding: 10px 10px 15px; }
    .header .logo img {
      height: 70px;
      width: 75px; }
  .header .menu li {
    cursor: default;
    white-space: nowrap; }
    .header .menu li:hover {
      background-color: rgba(0, 0, 0, 0.2); }
  .header .menu > li {
    position: relative; }
  .header .menu .submenu {
    display: none; }
    .header .menu .submenu a {
      display: block; }
  .header .nav-button {
    display: none;
    height: 60px;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 60px; }
    .header .nav-button i {
      background-color: white;
      height: 2px;
      left: 50%;
      margin-left: -15px;
      margin-top: -1px;
      position: absolute;
      top: 50%;
      transition: background-color 0.3s 0s;
      width: 30px; }
      .header .nav-button i::before, .header .nav-button i::after {
        background-color: white;
        backface-visibility: hidden;
        content: '';
        height: 100%;
        position: absolute;
        transform: translateZ(0);
        transition: transform 0.3s 0s;
        width: 100%; }
      .header .nav-button i::before {
        transform: translateY(-8px); }
      .header .nav-button i::after {
        transform: translateY(8px); }
  .header.sticky {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%; }

.header-bottom {
  height: 49px; }

@media (min-width: 769px) {
  .header .menu > li {
    float: left;
    height: 60px; }
    .header .menu > li > span {
      color: white;
      line-height: 60px;
      padding: 0px 20px; }
    .header .menu > li .submenu {
      position: absolute;
      top: 61px;
      background-color: #0b0b0b; }
      .header .menu > li .submenu a {
        color: white;
        padding: 8px 20px; }
    .header .menu > li:hover .submenu {
      display: block; }
  .header .menu-left {
    float: left; }
    .header .menu-left .submenu {
      left: 0; }
  .header .menu-right {
    float: right; }
    .header .menu-right .submenu {
      right: 0; } }

@media (max-width: 768px) {
  .header .nav-button {
    display: block; }
  .header .navigation {
    background-color: black;
    max-height: 100%;
    min-width: 280px;
    color: white;
    opacity: 0;
    overflow: auto;
    bottom: 0px;
    top: 60px;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s 0s, opacity 0.3s 0s;
    position: fixed;
    width: auto;
    z-index: 10;
    padding-top: 10px; }
  .header .menu > li > span {
    padding: 0 20px;
    line-height: 40px; }
  .header .menu .submenu {
    background-color: rgba(255, 255, 255, 0.2); }
    .header .menu .submenu a {
      padding: 0 30px;
      line-height: 40px; }
  .header .menu .menu-item-branch .label::before {
    content: '+';
    padding-right: 10px; }
  .header .menu .menu-item-branch.open .label::before {
    content: '-'; }
  .header .menu .menu-item-branch.open .submenu {
    display: block; }
  .nav-shown {
    overflow: hidden; }
    .nav-shown::before {
      background-color: rgba(0, 0, 0, 0.5);
      bottom: 0px;
      content: '';
      display: block;
      left: 0px;
      position: fixed;
      right: 0px;
      top: 0px;
      z-index: 1; }
    .nav-shown .navigation {
      opacity: 1;
      transform: translateX(0); }
    .nav-shown .nav-button i {
      background-color: transparent; }
    .nav-shown .nav-button i::before {
      transform: translateY(0) rotate(-45deg); }
    .nav-shown .nav-button i::after {
      transform: translateY(0) rotate(45deg); } }

.scene {
  position: relative;
  width: 100%;
  overflow: hidden; }

.layer {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%; }

.layer-paralax {
  transform: translate3d(0px, 0px, 0px); }

.layer-split-paralax .split-left {
  position: absolute;
  left: 0;
  right: 50%;
  height: 100%;
  background-position-x: 0%;
  overflow: hidden; }

.layer-split-paralax .split-right {
  position: absolute;
  left: 50%;
  right: 0;
  height: 100%;
  filter: grayscale(100%);
  overflow: hidden; }

#reef {
  height: 800px;
  background-color: #1b7789; }

#reef-fish {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0; }

#reef-bg {
  width: 100%;
  bottom: 0px;
  opacity: 0.5; }

#reef-bg .split-right,
#reef-bg .split-left {
  background-image: url(layer-bg.png);
  background-repeat: no-repeat;
  background-origin: border-box; }

#reef-corals-first {
  width: 100%;
  bottom: 0px; }

#reef-corals-first .split-right,
#reef-corals-first .split-left {
  background-image: url(layer-first.png);
  background-position-y: bottom;
  background-origin: border-box;
  background-repeat: no-repeat; }

#reef-corals-second {
  width: 100%;
  bottom: 0px; }

#reef-corals-second .split-left,
#reef-corals-second .split-right {
  background-image: url(layer-second.png);
  background-position-y: bottom;
  background-origin: border-box;
  background-repeat: no-repeat; }

#reef-corals-third {
  width: 100%;
  bottom: 0px; }

#reef-corals-third .split-left,
#reef-corals-third .split-right {
  background-image: url(layer-third.png);
  background-position-y: bottom;
  background-origin: border-box;
  background-repeat: no-repeat; }

#reef-corals-zero {
  width: 100%;
  bottom: 0px; }

#reef-corals-zero .split-left,
#reef-corals-zero .split-right {
  background-image: url(layer-zero.png);
  background-position-y: bottom;
  background-origin: border-box;
  background-repeat: no-repeat; }
