.header
    @extend %clearfix
    background-color: $color-bg-main
    display: block
    height: $header-height
    color: $color-fg-main
    width: 100%
    position: relative
    z-index: 200
    
    .logo 
        background-color: $color-bg-main
        display: block
        position: absolute
        transform: translate(-50%, 0)
        left: 50%
        text-decoration: none
        padding: 7px
        height: $header-height

        img             
            height: 100%
            width: auto    

    .menu 
        @extend %nl

        li 
            cursor: default
            white-space: nowrap

        > li 
            position: relative

        .submenu 
            @extend %nl
            display: none

            a
                display: block

    .nav-button 
        display: none
        height: $header-height
        left: 0
        padding: 10px
        position: absolute
        top: 0
        width: $header-height
    
        i 
            background-color: $color-fg-main
            height: 2px
            left: 50%
            margin-left: -15px
            margin-top: -1px
            position: absolute
            top: 50%
            transition: background-color 0.3s 0s
            width: 30px
        
            &::before, &::after 
                background-color: $color-fg-main
                backface-visibility: hidden
                content: ''
                height: 100%
                position: absolute
                transform: translateZ(0)
                transition: transform 0.3s 0s
                width: 100%
            
            &::before 
                transform: translateY(-8px)
            
            &::after 
                transform: translateY(8px)
                

    &.sticky 
        position: fixed
        top: 0
        z-index: 500
        width: 100%
        background-color: $color-bg-main
        // box-shadow: 0px -30px 30px -30px hsla(187, 46%, 53%, 0.5) inset, 0px -3px 3px -3px hsla(187, 50%, 100%, 0.5) inset;
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px $color-highlight, 0 0 20px $color-highlight, 0 0 35px $color-highlight, 0 0 40px $color-highlight
        


.header-bottom 
    height: 49px

@media (min-width: $width-tablet + 1)
    .header
        .navigation
            position: relative
            z-index: 200
            width: 768px
            margin: 0 auto
            font-size: 18px
            font-weight: 400
        .menu
            width: 40%
            > li
                float: left
                height: $header-height

                > span    
                    color: $color-fg-main
                    line-height: $header-height
                    padding: 0px 20px
            
                .submenu
                    position: absolute
                    top: $header-height
                    background-color: $color-bg-main
                    +box-glow-bottom($color-highlight)
                    border-top: 2px solid $color-highlight   
                    // border-bottom: 2px solid $color-highlight
                    z-index: -1
                    min-width: 200px
                    
                    a
                        color: $color-fg-main
                        padding: 15px 20px
                        text-decoration: none;
                        &:hover 
                            background-color: transparentize($color-highlight, 0.9)
                            //+box-glow-v($color-highlight)
                            // backgrokund-color: hsla(187, 46%, 53%, 0.1)
                            // box-shadow: 30px 0px 30px -30px hsla(187, 46%, 53%, 0.5) inset, 3px 0px 3px -3px hsla(187, 50%, 100%, 0.5) inset, -30px 0px 30px -30px hsla(187, 46%, 53%, 0.5) inset, -3px 0px 3px -3px hsla(187, 50%, 100%, 0.5) inset,;
                    
                &:hover
                    background-color: transparentize($color-highlight, 0.9)
                    // background-color:  hsla(187, 46%, 53%, 0.1), black
                    // +box-glow-inset($color-highlight)
                    // background-color: $color-highlight
                    // box-shadow: 30px 0px 30px -30px hsla(187, 46%, 53%, 0.5) inset, 3px 0px 3px -3px hsla(187, 50%, 100%, 0.5) inset, -30px 0px 30px -30px hsla(187, 46%, 53%, 0.5) inset, -3px 0px 3px -3px hsla(187, 50%, 100%, 0.5) inset,;
                    .submenu 
                        display: block


        .menu-left 
            float: left
            .submenu 
                left: 0

        .menu-right
            float: right
            > li
                float: right

            .submenu 
                right: 0
                    


@media (max-width: $width-tablet) 
    .header
        .nav-button 
            display: block
        
        .navigation 
            background-color: $color-bg-main
            border-top: 2px solid $color-highlight
            max-height: 100%
            min-width: 280px
            color: $color-fg-light
            opacity: 0
            overflow: auto
            bottom: 0px
            top: $header-height
            left: 0
            transform: translateX(-100%)
            transition: transform 0.3s 0s, opacity 0.3s 0s
            position: fixed
            width: auto
            z-index: 100
            padding-top: 10px
        

        .menu 
            > li > span 
                padding: 0 20px
                line-height: 60px
                display: block;
            .submenu 
                background-color: transparentize($color-highlight, 0.9)

                a 
                    padding: 0 30px
                    line-height: 60px
                    color: $color-fg-main

            .menu-item-branch
                .label::before 
                    content: '+'
                    padding-right: 10px

                &.open     
                    .label::before 
                        content: '-'

                    .submenu 
                        display: block
                    




    .nav-shown 
        overflow: hidden
    
        &::before 
            background-color: hsla(0, 0%, 0%, 0.5)
            bottom: 0px
            content: ''
            display: block
            left: 0px
            position: fixed
            right: 0px
            top: 0px
            z-index: 1
        

        .navigation 
            opacity: 1
            transform: translateX(0)
        
        .nav-button i 
            background-color: transparent
        
        .nav-button i::before 
            transform: translateY(0) rotate(-45deg)
        
        .nav-button i::after 
            transform: translateY(0) rotate(45deg)
        
        // text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $color-highlight, 0 0 35px $color-highlight, 0 0 40px $color-highlight, 0 0 50px $color-highlight, 0 0 75px $color-highlight
        


#footer
    border-top: 1px solid $color-highlight
    // box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px $color-highlight, 0 0 20px $color-highlight, 0 0 35px $color-highlight, 0 0 40px $color-highlight, 0 0 50px
    padding: 20px 0

    h3
        color: $color-fg-main
        text-align: center
        font-size: 20px
    .logos
        padding: 0
        margin: 0 auto
        display: table
        text-align: center

        li
            display: inline-block
            padding: 5px
            img
                height: 80px
                background-color: white
                opacity: 0.9