.notebook
    color: $color-fg-main
    margin-top: 100px
    
    p, h3
        margin: 0

    h3
        padding-bottom: 15px
        font-size: 22px
        margin-top: -5px

    p
        padding-bottom: 10px

    .event 
        width: 1000px
        margin: 0 auto
        position: relative
        // border-top: 1px dashed hsla(0, 100%, 100%, 0.4)


        .details
            margin-left: 25%
            padding-left: 20px
            padding: 0px 20px 60px 40px

        .bullet 
            width: 20px
            height: 20px
            position: absolute
            background-color: white
            border-radius: 10px
            top: 0px
            left: 25%
            +box-glow($color-highlight-red)
            transform: translate(-9px, 1px)

        .side 
            position: absolute
            width: 25%
            left: 0
            top: 0
            text-align: right
            padding: 3px 30px

            .icon
                font-size: 30px
                padding: 20px 0px

            .fa-plane
                transform: rotate(-45deg);

.notebook-red
    a
        color: $color-highlight-red

    
        .details
            margin-left: 25%
            padding-left: 20px
            border-left: 3px solid $color-highlight-red