@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i')

html, body 
    font-family: 'Roboto'
    font-size: 16px
%tmp
    background-color: white
    outline: 1px solid black

$color-hover: hsla(0, 0%, 0%, 0.2)

h2 
    text-align: center
    font-weight: 100
    font-size: 36px

a.reference 
    font-size: 12px
    vertical-align: super
    padding: 0px 0px

.article
    p, li 
        text-align: justify


.figure 
    .caption
        padding: 3px 0
        font-size: 14px
        text-align: center